<div style="flex-direction: column; height: 80vh">
  <div style="height: 25%; ">
    <h3>{{ item.propertyType.title() }}</h3>
    <h3>{{ item.address.title() }}</h3>
    <p>£{{  "{:,.0f}".format(item.price) }}</p>
    <p>{{ item.bedrooms }} rooms</p>
  </div>
  <div style="height: 75%; %;overflow: auto;">
    {% autoescape false %}
      <ul>
        {%for feature in item.features %}
          <li>{{ feature.capitalize() }}</li>
        {%endfor%}
      </ul>
      <br>
      <p>{{ item.fullDescription }}</p>
    {% endautoescape %}

    <div id="map" data-longitude="{{item.longitude}}" data-latitude="{{item.latitude}}"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEyo0dynAFvGutEaV7vaydfX7a00gd0m4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </div>
</div>
