<div class="px-2 px-md-4 px-lg-5">
    <div class="address">
        <h5>{{ item.address.title() }}</h5>
        <h5>{{ item.propertyType.title() }}</h5>
    </div>
    <div class="price-rooms">
        <div class="rooms">
            <h4>{{ item.bedrooms }} rooms</h4>
        </div>
        <div class="price rounded m-2">
            <h4 class="m-2">£{{ "{:,.0f}".format(item.price) }}</h4>
        </div>
    </div>
    <hr>
    <div>
        {% autoescape false %}
        <h3>Key Features<br><br></h3>
        <ul class="list-group  d-flex flex-row flex-wrap mt-2">
            {%for feature in item.features %}
            <li class="list-group-item w-100 d-lg-none mt-1">- {{ feature.capitalize() }}</li>
            <li class="list-group-item w-50 d-none d-lg-block">- {{ feature.capitalize() }}</li>
            {%endfor%}
        </ul>
        {% endautoescape %}
    </div>
    <br>
    <hr>
    <div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h3>Description</h3>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{% autoescape false %}
                        <p>{{ item.fullDescription }}</p>
                        {% endautoescape%}
                        <a class="btn btn-primary" href="{{ item.url }}" role="button">View on Rightmove</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div id="map" style="min-height:60vh;" data-longitude="{{item.longitude}}" data-latitude="{{item.latitude}}">
        </div>

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEyo0dynAFvGutEaV7vaydfX7a00gd0m4&callback=initMap&libraries=&v=weekly"
            async></script>
    </div>
</div>