<div class="nav">
  <div class="good_btn">
    {% if good is none or good == False %}
    <a class="btn btn-light" href="/good-ones" role="button">⬅️ ✅</a>
    {% else %}
    <a class="btn btn-light" href="/" role="button">✖️</a>

    {% endif %}

  </div>
  <div class="title">
    <h1>Tinder For RightMove</h1>
  </div>
  <div class="bad_btn">
    {% if good is none or good %}
    <a class="btn btn-light" href="/bad-ones" role="button">⛔️ ➡️</a>
    {% else %}
    <a class="btn btn-light" href="/" role="button">✖️</a>
    {% endif %}
  </div>
</div>
