/* Nav Bar */
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    display: block;
    width: fit-content;
}
.navbar-nav {
    max-width: 1000px;
    margin:    0 auto;
    width: 100%;
}
.nav-item {
}

/* Carousel */
.carousel-image {
    max-height: 350px;
    max-width: 95vw;
    margin: auto;
}
.car-center {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto
}
.car-container {
    display:flex;
    justify-content:center;
    margin: 0 auto;
    max-width: 95vw;
}

.main {
    max-width: 1000px;
    margin:    0 auto;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.address {
    padding-top: 5px;
    background-color: Ivory;
    
}
.price-rooms {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.price {
    background-color: cadetblue;
    border-radius: 50%;
}

.price h4 {
    color: ivory;
}

h5 {
    padding-left: 10px;
}

.features-container {
    display: flex;
}

.feature {
    display: flexbox;
}

.accordion-collapse {
    background-color: WhiteSmoke;
}

.rating-container {
    width: 50vw;
    max-width: 250px;
    height: 75px;
}

.tick-button {
    height: 53px;
    width: 53px;
    color: white; 
    background-color:rgb(20, 203, 20); 
    border-radius: 50%;
    padding: 11px;
    filter: drop-shadow(4px 4px 4px #5e5e62);
}

.cross-button {
    height: 53px;
    width: 53px;
    color: white; 
    background-color:rgb(227, 35, 10); 
    border-radius: 50%;
    padding: 11px;
    filter: drop-shadow(-4px 4px 4px #5e5e62);

}

.fa-xmark {
    transform: translateX(24%);
}

.web-button {
    height: 53px;
    width: 53px;
    color: white; 
    background-color:blue; 
    border-radius: 50%;
    padding: 10px;
}

.rating-container i {
    color:ivory;
}

/* .card-img-top {
    object-fit: cover;
    aspect-ratio: 3 / 2;
} */
