<div class="fixed-bottom d-flex justify-content-center">
    <div class="d-flex justify-content-between rating-container">
        <a href="/Bad/{{ item.id }}" role="button">
            <div class="align-self-end cross-button" href>
                <i class="fa-regular fa-xmark fa-2x"></i>
            </div>
        </a>
        <a href="/Good/{{ item.id }}" role="button">
            <div class="align-self-end tick-button">
                <i class="fa-regular fa-check fa-2x"></i>
            </div>
        </a>

    </div>
</div>